@import "tailwindcss" ;


@theme {
    --color-indie-100: #F8F8F2; 
    --color-indie-200: #C2CBF5; 
    --color-indie-300: #B5BDE5; 
    --color-indie-400: #414558; 
    --color-indie-500: #282A36; 
    --color-indie-600: #242631; 
    --color-indie-700: #20222C; 
    --color-indie-800: #22222A;
    --color-veronica-700: #C77DFF ; 
    --color-veronica-800: #7B2CBF ;
    --color-veronica-900: #5A189A ;
    --font-poppins: "Poppins" ;  
} 


[data-theme='theme-0'] {
    --primary-bg-color: #d6d3d1;
    --secondary-bg-color: #f8f8f2;
    --primary-button-color: #9810fa;
    --primary-button-color-hover: #9000ff;
    --primary-text-color: #414558;
    --secondary-text-color: #ffffff;
}

[data-theme='theme-1'] {
    --primary-bg-color: #d6d3d1;
    --secondary-bg-color: #f8f8f2;
    --primary-button-color: #1033fa;
    --primary-button-color-hover: #3451f9;
    --primary-text-color: #414558;
    --secondary-text-color: #ffffff;
}
[data-theme='theme-2'] {
    --primary-bg-color: #776274;
    --secondary-bg-color: #A07178;
    --primary-button-color: #E6CCBE;
    --primary-button-color-hover: #776274;
    --primary-text-color: #C8CC92;
    --secondary-text-color: #A07178;
}
[data-theme='theme-3'] {
    --primary-bg-color: #282a36;
    --secondary-bg-color: #242631;
    --primary-button-color: #ff79c6;
    --primary-button-color-hover: #5d0c3b;
    --primary-text-color: #f8f8f2;
    --secondary-text-color: #5d0c3b;
}

[data-theme='theme-4'] {
    --primary-bg-color: #282a36;
    --secondary-bg-color: #242631;
    --primary-button-color: #661ae6;
    --primary-button-color-hover: #38009a;
    --primary-text-color: #a6adbb;
    --secondary-text-color: #ffffff; 
}

[data-theme='theme-5'] {
    --primary-bg-color: #202d4d;
    --secondary-bg-color: #0e1526;
    --primary-button-color: #38dbf8;
    --primary-button-color-hover: #002a3d;
    --primary-text-color: #b4c6ef;
    --secondary-text-color: #002a3d; 
}

[data-theme='theme-6'] {
    --primary-bg-color: #e4d8b4;
    --secondary-bg-color: #d2c59d;
    --primary-button-color: #e7564e;
    --primary-button-color-hover: #e8291f;
    --primary-text-color: #282425;
    --secondary-text-color: #ffffff; 
}

[data-theme='theme-7'] {
    --primary-bg-color: #6F58C9;
    --secondary-bg-color: #b8b3f4;
    --primary-button-color: #BBDBD1;
    --primary-button-color-hover: #B6B8D6;
    --primary-text-color: #BDEDE0;
    --secondary-text-color: #7E78D2;
}

 
[data-theme='theme-8'] {
    --primary-bg-color: #7A5980;
    --secondary-bg-color: #A96DA3;
    --primary-button-color: #CF9893;
    --primary-button-color-hover: #7A5980;
    --primary-text-color: #3B3B58;
    --secondary-text-color: #9a3f90;
}  

[data-theme='theme-9'] {
    --primary-bg-color: #ffee00;
    --secondary-bg-color: #e6d600;
    --primary-button-color: #ff7598;
    --primary-button-color-hover: #d759a2;
    --primary-text-color: #333000;
    --secondary-text-color: #5d0c3b;
}

[data-theme='theme-10'] {
    --primary-bg-color: #D80032 ;
    --secondary-bg-color: #f05769;
    --primary-button-color: #2B2D42;
    --primary-button-color-hover: #4b6ca5;
    --primary-text-color: #a0d9f0;
    --secondary-text-color: #8D99AE;
}  

[data-theme='theme-11'] {
    --primary-bg-color: #275076;
    --secondary-bg-color: #63ADF2;
    --primary-button-color: #A7CCED;
    --primary-button-color-hover: #498cc7;
    --primary-text-color: #304D6D;
    --secondary-text-color: #737883;
}   

[data-theme='theme-12'] {
    --primary-bg-color: #7B435B;
    --secondary-bg-color: #8B687F;
    --primary-button-color: #cdcddf;
    --primary-button-color-hover: #AED9E0;
    --primary-text-color: #BCF8EC;
    --secondary-text-color: #48919c;
} 

[data-font="font-0"] {
    --primary-font: "Caveat", serif ;
 }

[data-font="font-1"] {
    --primary-font: "Poppins", serif ;
 }
 [data-font="font-2"] {
    --primary-font: "Roboto", serif ;
 }    
 [data-font="font-3"] {
    --primary-font: "Bebas Neue", serif ;
 }    
    
 [data-font="font-4"] {
    --primary-font: "Montserrat", serif ;
 } 
 [data-font="font-5"] {
    --primary-font: "Madimi One", serif ;
 } 
 [data-font="font-6"] {
    --primary-font: "Atkinson Hyperlegible Mono", serif ;
 }
 [data-font="font-7"] {
    --primary-font: "Playwrite IT Moderna", serif ;
 }
 [data-font="font-8"] {
    --primary-font: "Inconsolata", serif ;
 }
 [data-font="font-9"] {
    --primary-font: "Titillium Web", serif ;
 }  
 [data-font="font-10"] {
    --primary-font: "Arsenal SC", serif ;
 }  
 [data-font="font-11"] {
    --primary-font: "Josefin Sans", serif ;
 }  
 [data-font="font-12"] {
    --primary-font: "Moon Dance", serif ;
 } 
 [data-font="font-13"] {
    --primary-font: "Anton", serif ;
 } 


body{
    background-color: #242631;
}
html{
    scroll-behavior: smooth;
}
.landing {
    background: url('../public/landing_img.png');
    background-size: cover;
    background-color: rgba(0,0,0,0.70);
    background-blend-mode: darken;
}
/* *{
    font-family: 'Poppins', sans-serif;
} */
.active{
    @apply bg-indie-400
}
svg{
    color: white;
}
.bars-5 {
    width: 45px;
    aspect-ratio: .75;
    --c: no-repeat linear-gradient(#000 0 0);
    background: 
      var(--c) 0%   100%,
      var(--c) 50%  100%,
      var(--c) 100% 100%;
    background-size: 20% 65%;
    animation: b5 1s infinite linear;
  }
  @keyframes b5 {
    20% {background-position: 0% 50% ,50% 100%,100% 100%}
    40% {background-position: 0% 0%  ,50% 50% ,100% 100%}
    60% {background-position: 0% 100%,50% 0%  ,100% 50% }
    80% {background-position: 0% 100%,50% 100%,100% 0%  }
  }